<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/web_items_detail.css">
    <title>EntreBicis - Recompensa</title>
</head>

<body>
    <!-- NavBar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <!-- Content -->
    <div class="content">
        <section class="web-detail">
            <div class="web-detail-header">
                <h2 th:text="'Recompensa - ' + ${reward.name} + ' ('+ ${reward.exchangePoint} + ')'"></h2>
            </div>
            <div class="web-detail-content">

                <div class="detail-image">
                    <img th:src="'data:image/jpeg;base64,' + ${reward.image}" alt="Reward Image" class="web-avatar">
                </div>

                <div class="detail-data">
                    <div class="data-row">
                        <div class="data-title">Estat:</div>
                        <div class="data-text" th:text="${reward.rewardState.display}"></div>
                    </div>
                    <hr>
                    <div class="data-row">
                        <div class="data-title">Nom:</div>
                        <div class="data-text" th:text="${reward.name}"></div>
                    </div>
                    <div class="data-row">
                        <div class="data-title">Descripció:</div>
                        <div class="data-text" th:text="${reward.description}"></div>
                    </div>
                    <div class="data-row">
                        <div class="data-title">Observacions:</div>
                        <div class="data-text" th:text="${reward.observation}"></div>
                    </div>
                    <div class="data-row">
                        <div class="data-title">Punt Bescanvi:</div>
                        <div class="data-text" th:text="${reward.exchangePoint}"></div>
                    </div>
                    <div class="data-row">
                        <div class="data-title">Punts Valor:</div>
                        <div class="data-text" th:text="${reward.valuePoints} + ' pts'"></div>
                    </div>
                    <div class="data-row">
                        <div class="data-title">Data creació:</div>
                        <div class="data-text" th:text="${#temporals.format(reward.rewardDate, 'dd/MM/yy - HH:mm')}">
                        </div>
                    </div>
                    <div class="data-row" th:if="${reward.reservation != null}">
                        <div class="data-title">Usuari assignat:</div>
                        <div class="data-text"
                            th:text="${reward.reservation.user.name} + ' ' + ${reward.reservation.user.surname} + ' - (' + ${reward.reservation.user.email} + ')'">
                        </div>
                    </div>
                    <div class="data-row" th:if="${reward.reservation == null}">
                        <div class="data-title">Usuari assignat:</div>
                        <div class="data-text">-</div>
                    </div>
                </div>

                <div class="detail-options">
                    <div class="options-button">
                        <button th:onclick="|location.href='/reservation/detail/' + '@{${reward.reservation.id}}'|"
                            th:disabled="${reward.reservation == null}">Veure Reserva</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>