<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/reward_create.css">
    <script src="/js/preview_image.js"></script>
    <title>EntreBicis - Crear Recompensa</title>
</head>

<body>
    <!-- NavBar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="content">
        <section class="reward-create">
            <h2>Crear Recompensa</h2>

            <!-- Exception Message -->
            <div th:if="${exceptionError != null and not #strings.isEmpty(exceptionError)}" class="error-message">
                <p th:text="${exceptionError}"></p>
            </div>

            <form th:action="@{/reward/create/new}" method="post" th:object="${reward}" enctype="multipart/form-data">

                <!-- Hidden Attributes -->
                <input type="hidden" name="rewardDate" th:field="*{rewardDate}">

                <!-- Image -->
                <div>
                    <img id="previewImage" th:src="${reward.image != null} ? 
         (${#strings.startsWith(reward.image, 'iVBOR') ? 'data:image/png;base64,' : 
           (#strings.startsWith(reward.image, '/9j/') ? 'data:image/jpeg;base64,' : '')} + ${reward.image}) : 
         @{/images/User-Avatar.png}" th:attr="data-default-src=${reward.image != null} ? 
         (${#strings.startsWith(reward.image, 'iVBOR') ? 'data:image/png;base64,' : 
           (#strings.startsWith(reward.image, '/9j/') ? 'data:image/jpeg;base64,' : '')} + ${reward.image}) : 
         @{/images/User-Avatar.png}" alt="Reward Image" class="web-avatar" />
                </div>

                <label for="imageFile">Selecciona una imatge:</label>
                <input type="file" id="imageFile" name="imageFile" accept="image/jpeg,image/png" required />
                <div class="error" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></div>

                <!-- Name -->
                <label for="name">Nom:</label>
                <input type="text" id="name" name="name" th:field="*{name}">
                <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

                <!-- Description -->
                <label for="description">Descripció:</label>
                <input type="text" id="description" name="description" th:field="*{description}">
                <div class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>

                <!-- Observation -->
                <label for="observation">Observacions:</label>
                <input type="text" id="observation" name="observation" th:field="*{observation}">
                <div class="error" th:if="${#fields.hasErrors('observation')}" th:errors="*{observation}"></div>

                <!-- Value -->
                <label for="valuePoints">Punts Valor:</label>
                <input type="number" id="valuePoints" name="valuePoints" th:field="*{valuePoints}">
                <div class="error" th:if="${#fields.hasErrors('valuePoints')}" th:errors="*{valuePoints}"></div>

                <!-- State -->
                <label for="rewardState">Estat:</label>
                <select id="rewardState" name="rewardState" th:field="*{rewardState}">
                    <option th:each="rewardState : ${rewardState}" th:value="${rewardState}"
                        th:text="${rewardState.display}"></option>
                </select>

                <!-- Exchange Point -->
                <label for="exchangePoint">Punt de Bescanvi:</label>
                <input type="text" id="exchangePoint" name="exchangePoint" th:field="*{exchangePoint}">
                <div class="error" th:if="${#fields.hasErrors('exchangePoint')}" th:errors="*{exchangePoint}"></div>




                <button type="submit">Crear Recompensa</button>
            </form>
        </section>
    </div>

</body>

</html>