<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/web_items_list.css">
    <title>EntreBicis - Usuaris</title>
</head>
<body>
    <!-- NavBar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <!-- Content -->
     <div class="content">
        <aside class="sidebar">
            <h3 class="sidebar-title">Ordenar</h3>
            <button th:onclick="|location.href='/reward/list?sort=name'|">Nom</button>
            <button th:onclick="|location.href='/reward/list?sort=exchangePoint'|">Punt Bescanvi</button>
            <button th:onclick="|location.href='/reward/list?sort=AVAILABLE'|">Disponible</button>
            <button th:onclick="|location.href='/reward/list?sort=RESERVED'|">Reservat</button>
            <button th:onclick="|location.href='/reward/list?sort=ASSIGNED'|">Assignat</button>
            <button th:onclick="|location.href='/reward/list?sort=RETURNED'|">Retornat</button>

        </aside>

        <section class="web-list">
            <div class="web-list-header">
                <h2>Recompenses</h2>
                <button th:onclick="|location.href='/reward/create'|">Crear Recompensa</button>
            </div>

            <!-- Search Bar -->
            <form action="/reward/list" method="get" class="search-bar">
                <input type="text" name="search" placeholder="Cercar..." th:value="${param.search}">
                <button type="submit">🔍</button>
            </form>

                <div class="web-list-content">
                    <table class="web-list-webBar" >
                        <thead>
                            <tr>
                                <th class="web-info-img">Imatge</th>
                                <th class="web-info">Nom</th>
                                <th class="web-info">Estat</th>
                                <th class="web-info">Punts Valor</th>
                                <th class="web-info">Bescanvi</th>
                            </tr>
                        </thead>
                        <tbody class="web-item" th:each="reward : ${allRewards}">
                            <tr >
                                <td>
                                    <img th:src="@{/images/EntreBicis_Logo.png}" alt="web Image" class="web-avatar">
                                </td>
                                <td class="web-info" th:text="${reward.name}"></td>
                                <td class="web-info" th:text="${reward.rewardState.display}"></td>
                                <td class="web-info" th:text="${reward.valuePoints}"></td>
                                <td class="web-info" th:text="${reward.exchangePoint.name}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="web-list-actionBar" >
                        <thead>
                            <tr>
                                <th>Accions</th>
                            </tr>
                        </thead>
                        <tbody class="web-item" th:each="reward : ${allRewards}">
                            <tr>
                                <td>
                                    <button th:onclick="|location.href='/reward/list'|">Editar</button>
                                    <button th:onclick="|location.href='/reward/list'|">Assignar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
                
                    
                
                

                
            
            

            
        </section>
     </div>
    
</body>
</html>