<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/web_items_list.css">
    <title>EntreBicis - Rutes</title>
</head>

<body>
    <!-- NavBar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <!-- Content -->
    <div class="content">
        <aside class="sidebar">
            <h3 class="sidebar-title">Ordenar</h3>
            <button th:onclick="|location.href='/route/list'|">Totes</button>
            <hr>
            <button th:onclick="|location.href='/route/list?sort=routeDate'|">Data creació</button>
            <button th:onclick="|location.href='/route/list?sort=userEmail'|">Correu Usuari</button>
            <hr>
            <button th:onclick="|location.href='/route/list?sort=PENDING'|">Pendents Validació</button>
            <button th:onclick="|location.href='/route/list?sort=VALIDATED'|">Validades</button>
            <button th:onclick="|location.href='/route/list?sort=NOT_VALIDATED'|">No validades</button>

        </aside>

        <section class="web-list">
            <div class="web-list-header">
                <h2>Rutes</h2>
            </div>

            <!-- Search Bar -->
            <form action="/route/list" method="get" class="search-bar">
                <input type="text" name="search" placeholder="Cercar..." th:value="${param.search}">
                <button type="submit">🔍</button>
            </form>

            <div class="web-list-content">
                <table class="web-list-webBar-noImg">
                    <thead>
                        <tr>
                            <th class="web-info-id">Id</th>
                            <th class="web-info">Estat</th>
                            <th class="web-info">Data creació</th>
                            <th class="web-info">Distància</th>
                            <th class="web-info">Temps</th>
                            <th class="web-info">Vel. Mitjana</th>
                            <th class="web-info">Vel. Màxima</th>
                            <th class="web-info">Pts. Generats</th>
                            <th class="web-info">Usuari</th>
                        </tr>
                    </thead>
                    <tbody class="web-item" th:each="route : ${allRoutes}">
                        <tr th:onclick="|location.href='/route/detail/${route.id}'|">
                            <td class="web-info-id" th:text="${route.id}"></td>
                            <td class="web-info" th:text="${route.routeState.display}"></td>
                            <td class="web-info" th:text="${#temporals.format(route.routeDate, 'dd/MM/yy - HH:mm')}"></td>
                            <td class="web-info" th:text="${#numbers.formatDecimal(route.totalRouteDistance, 1, 3)} + ' m'"></td>
                            <td class="web-info" th:text="${route.totalRouteTime}"></td>
                            <td class="web-info" th:text="'~ ' + ${#numbers.formatDecimal(route.avgRouteVelocity, 1, 1)} + ' Km/h'"></td>
                            <td class="web-info" th:text="${#numbers.formatDecimal(route.maxRouteVelocity, 1, 1)} + ' Km/h'"></td>
                            <td class="web-info" th:text="${#numbers.formatDecimal(route.totalRutePoints, 1, 2)} + ' pts.'"></td>
                            <td class="web-info" th:text="${route.user.email}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>
    </div>
</body>
</html>