<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/web_items_detail.css">
    <title>EntreBicis - Ruta</title>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let routePoints = /*[[${route.gpsPoints}]]*/ [];
        /*]]>*/
    </script>
    <script src="/js/mapaRuta.js"></script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo44qmSlWlU47Sahr_RMuuXpv0nEKijao&callback=initMap">
    </script>

</head>

<body>
    

    <!-- NavBar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <!-- Content -->
    <div class="content">
        <section class="web-detail">
            <div class="web-detail-header">
                <h2
                    th:text="'Ruta - ' + ${route.user.name} + ' ' + ${route.user.surname} + ' ('+ ${route.user.email} + ')'">
                </h2>
            </div>
            <div class="web-detail-content">

                <div class="detail-map" id="map"></div>

                <div class="detail-data">
                    <div class="data-title">
                        <div>Nom: </div>
                        <div>Correu: </div>
                        <div>Telèfon: </div>
                        <div>Població: </div>
                        <div>Observacions: </div>
                    </div>
                    <div class="data-text">
                        <div th:text="${user.name} + ' ' + ${user.surname}"></div>
                        <div th:text="${user.email}"></div>
                        <div th:text="${user.mobile}"></div>
                        <div th:text="${user.town}"></div>
                        <div th:text="${user.observation != null} ? ${user.observation} : '-'"></div>

                    </div>
                </div>

                <div class="detail-options">
                    <div class="data-value" th:text="${route.user.totalPoints}"></div>
                    <div class="options-button">
                        <button th:onclick="|location.href='/user/list'|">Rutes</button>
                    </div>
                    <div class="options-button">
                        <button th:onclick="|location.href='/user/list'|">Recompenses</button>
                    </div>
                    <div class="options-button">
                        <button th:onclick="|location.href='/user/update/password/' + '@{${user.email}}'|">Canvi
                            Contrasenya</button>
                    </div>
                </div>

            </div>

        </section>
    </div>
</body>

</html>