<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/users_list.css">
    <title>EntreBicis - Usuaris</title>
</head>
<body>
    <!-- NavBar -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <!-- Content -->
     <div class="content">
        <aside class="sidebar">
            <h3 class="sidebar-title">Ordenar</h3>
            <button th:onclick="|location.href='/user/list?sort=email'|">Email</button>
            <button th:onclick="|location.href='/user/list?sort=name'|">Nom</button>
            <button th:onclick="|location.href='/user/list?role=BIKER'|">Ciclistes</button>
            <button th:onclick="|location.href='/user/list?role=ADMIN'|">Administradors</button>
        </aside>

        <section class="user-list">
            <div class="user-list-header">
                <h2>Usuaris</h2>
                <button th:onclick="|location.href='/user/create'|">Crear Usuari</button>
            </div>

            <!-- Search Bar -->
            <form action="#" method="get" class="search-bar">
                <input type="text" name="search" placeholder="Cercar...">
                <button type="submit">🔍</button>
            </form>

            <div class="user-item" th:each="user : ${users}">
                <img th:src="@{/images/EntreBicis_Logo.png}" alt="User Image" class="user-avatar">
                <span th:text="${user.email}"></span>
                <span th:text="${user.name}"></span>
                <span th:text="${user.role}"></span>

                <div class="actions">
                    <button th:onclick="|location.href='/user/edit?id=${user.id}'|">Editar</button>
                    <button th:onclick="|location.href='/user/contact?id=${user.id}'|">Contactar</button>
                </div>
            </div>
        </section>
     </div>
    
</body>
</html>