<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/user_create.css">
    <title>EntreBicis - Modificar Contrasenya Usuari</title>
</head>

<body>
    <!-- NavBar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="content">
        <section class="user-create">
            <h2 th:text="'Modificar Contrasenya Usuari - (' + ${user.email} + ')'"></h2>

            <!-- Exception Message -->
            <div th:if="${exceptionError != null and not #strings.isEmpty(exceptionError)}" class="error-message">
                <p th:text="${exceptionError}"></p>
            </div>

            <form th:action="@{/user/send/email}" method="post">

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:value="${user.email}" readonly>

                <button type="submit">Enviar Codi</button>

            </form>

            <div th:if="${showPasswordForm != true}">
                <form th:action="@{/user/update/password/new}" method="post" th:object="${user}">

                    <!-- Hidden Attributes -->
                    <input type="hidden" name="email" th:field="*{email}">
                    <input type="hidden" name="role" th:field="*{role}">
                    <input type="hidden" name="name" th:field="*{name}">
                    <input type="hidden" name="surname" th:field="*{surname}">
                    <input type="hidden" name="town" th:field="*{town}">
                    <input type="hidden" name="mobile" th:field="*{mobile}">
                    <input type="hidden" name="isRouteStarted" th:field="*{isRouteStarted}">
                    <input type="hidden" name="isPasswordChanged" th:field="*{isPasswordChanged}">
                    <input type="hidden" name="userState" th:field="*{userState}">
                    <input type="hidden" name="totalPoints" th:field="*{totalPoints}">
    
                    <!-- Token -->
                    <label for="token">Codi: </label>
                    <input type="text" id="tokenCode" name="tokenCode" th:value="${tokenCode}" th:attr="maxlength=${tokenLength}">
                    <div class="error" th:if="${errorToken != null}" th:text="${errorToken}"></div>
    
                    <!-- Password -->
                    <label for="password">Contrasenya: </label>
                    <input type="password" id="password" name="password" th:field="*{password}">
                    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    <div class="error" th:if="${errorRepPassword != null}" th:text="${errorRepPassword}"></div>
    
    
                    <label for="repPassword">Repeteix Contrasenya: </label>
                    <input type="password" id="repPassword" name="repPassword">
                    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    <div class="error" th:if="${errorRepPassword != null}" th:text="${errorRepPassword}"></div>
    
    
                    <button type="submit">Canviar Contrasenya</button>
    
                </form>
            </div>
            
        </section>
    </div>

</body>

</html>