<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/user_create.css">
    <title>EntreBicis - Modificar Contrasenya Usuari</title>
</head>

<body>
    <!-- NavBar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="content">
        <section class="user-create">
            <h2 th:text="'Modificar Contrasenya Usuari - (' + ${user.email} + ')'"></h2>

            <!-- Exception Message -->
            <div th:if="${exceptionError != null and not #strings.isEmpty(exceptionError)}" class="error-message">
                <p th:text="${exceptionError}"></p>
            </div>

            <form th:action="@{/user/send/email}" method="post" th:if="${showPasswordForm == null}">

                <!-- Email -->
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <button type="submit">Enviar Codi</button>

            </form>


            <form th:action="@{/user/update/password/new}" method="post" th:object="${user}">

                <!-- Hidden Email -->
                <input type="hidden" name="email" th:field="*{email}">

                <!-- Hidden Role -->
                <input type="hidden" name="role" th:field="*{role}">

                <!-- Hidden Name -->
                <input type="hidden" name="name" th:field="*{name}">

                <!-- Hidden Surname -->
                <input type="hidden" name="surname" th:field="*{surname}">

                <!-- Hidden Town -->
                <input type="hidden" name="town" th:field="*{town}">

                <!-- Hidden Mobile -->
                <input type="hidden" name="mobile" th:field="*{mobile}">

                <!-- Hidden RouteStarted -->
                <input type="hidden" name="isRouteStarted" th:field="*{isRouteStarted}">

                <!-- Hidden PasswordChanged -->
                <input type="hidden" name="isPasswordChanged" th:field="*{isPasswordChanged}">

                <!-- Hidden UserState -->
                <input type="hidden" name="userState" th:field="*{userState}">

                <!-- Hidden TotalPoint -->
                <input type="hidden" name="totalPoints" th:field="*{totalPoints}">

                <!-- Token -->
                <label for="token">Codi: </label>
                <input type="text" id="token" name="token">

                <!-- Password -->
                <label for="password">Contrasenya: </label>
                <input type="password" id="password" name="password" th:field="*{password}">

                <label for="repPassword">Repeteix Contrasenya: </label>
                <input type="password" id="repPassword" name="repPassword">

                <button type="submit">Canviar Contrasenya</button>

            </form>
        </section>
    </div>

</body>

</html>